body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff; 
    color: white;
}

.sidebar-roja {
    position: fixed; 
    right: 20px;     
    top: 0;
    width: 8px;     
    height: 100vh;   
    background-color: green;
    z-index: 1000;   
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #fff;
    gap: 30px;
    flex-direction: row;
}
.logo {
    display: flex;
}
.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    align-content: center;
    border: none;
    gap: 35px;
}

.btn-nav {
    text-decoration: none;
    color: rgb(19, 18, 18);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
}

.user-icon {
    font-size: 20px;
    margin-left: 10px;
}

.navButton{
    display: flex;
    width: 210px;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
   
}


.navButton .b1{
    background: #fff;
    color:green;
    width: 100%;
    border: none;
    height: 40px;
    cursor: pointer;
}

.navButton .b2{
    background-color: green;
    color: aliceblue;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.slider {
    height: 600px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 50px;
    justify-content: space-around;
}
.photo{
    width: 400px;
    height: 400px;
    box-sizing: border-box;
}
.photo img{
    width: 100%;
    height: 100%;
}
.text{
    width: 600px;
    height: 300px;
}

.text h1 {
    font-size: 65px;
    margin: 0;
    color: #000;
}

.text p {
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    padding: 5px 10px;
}

.btnregister{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: aliceblue;
    font-size: 1em;
    margin-top: 10px;
}

.titulo-explora {
    text-align: center;
    background-color: #000;
    margin: 0;
    padding: 15px 0;
    border-bottom: 2px solid red;
    text-transform: uppercase;
    font-size: 18px;
}


/* apartado de  our cliente ---------------------*/ 

#producdesta{
    display: flex;
    justify-content: center;
    margin-inline: 60px;
}
.productos-destacados {
    display: grid;
    grid-template-columns:repeat(7, 200px); 
    grid-template-rows: 200px 100px ;
    justify-content: center;
    /* Espaciado entre las cajas */
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0;
}

.item {
    background-color: #fff;
    border-radius: 15px;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    text-align: justify;
    text-align: center;
    border: none;
    box-sizing: border-box;
}
.item img{
    width: 100%;
    height: 100%;
}


.area-1 b {
    font-size: 3em;
    color: #000;
    
    
}
.area-1 p{
    font-size: 1.5em;
    color: #999;
}

.area-1 { 
    display: flex;
    flex-direction: column;
    grid-column: 2 / 7; 
    grid-row: 1; 
    background-color: #fff;
    justify-content: center;

} 
.area-2 {grid-row: 2; cursor: pointer;}
.area-3 {grid-row: 2;  cursor: pointer; }
.area-4 { grid-row: 2;  cursor: pointer; } 
.area-5 {grid-row: 2;  cursor: pointer;} 
.area-6 { grid-row: 2; cursor: pointer; } 
.area-7{grid-row: 2; cursor: pointer;}


/* Manage comunity --------------- */

#manage{
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: #fff;
    text-align: center;
    justify-content: center;
    padding: 30px;
}

#manage b{
    padding-top: 70px;
    color: #000;
    font-size: 3em;
    text-align: center;
}
#manage p{
    color: #999;
    font-size: 2em;
}

#manageitem{
    display: grid;
    grid-template-columns: repeat(3 , 300px);
    justify-content: center;
    box-sizing: border-box;
    justify-content: space-around;
    margin-top: 100px;
}
#manageitem article{
    display: flex;
    flex-direction: column;
    color: #000;
    gap: 10px;
    text-align: center;
    align-items: center;
}
#manageitem article img{
    width: 100px;
    height: 100px;
    
}

#unseen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 250px;
    margin: 60px;

}
#unseen img{
    width: 600px;
}

.unseentex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: left;
    width: 700px;
}

.unseentex h2 {
    display: flex;
    color: #000;
    font-size: 2em;
}

.unseentex p{
    display: flex;
    color: #999;
    font-size: 1.2em ;
}

.unseentex button{
    display: flex;
    color: aliceblue;
    background-color: green;
    border: none;
    border-radius: 6px;
    width: 100px;
    height: 60px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;   
    cursor: pointer; 
    
}

#helping{
    display: flex;
    margin: 50px;
    justify-content: center;
    gap: 100px;
    align-items: center;
    justify-content: space-around;
}
.helpin h2{
    color: #000;
    font-size: 2.4em;
    margin: 0;
}
.helpin p{
    color: #999;
    font-size: 1.3em;
}

#divhelping{
    display: grid;
    grid-template-columns: 400px 400px ;
    grid-template-rows: 100px 100px ;
    gap: 40px;    
}

#divhelping article{
    display: flex;
    box-sizing: border-box;
    color: #000;
    gap: 10px;
    
}

#divhelping img {
    width: 100px;
    height: 100px;
}

#tesla{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin: 0px;

}
#tesla img{
    width: 600px;
}

#tesla .teslatex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: left;
    width: 600px;
}

.teslatex h2 {
    display: flex;
    color: green;
    font-size: 2em;
    align-items: left;
    margin: 0;
}

.teslatex p{
    display: flex;
    color: #999;
    font-size: 1.2em ;
    align-items: left;

}

#divtesla{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

#divtesla article img{
    height: 100px;
    width: 100px;
    cursor: pointer;
}

#divtesla button{
    color: green;
    background-color: #fff;
    border: none;
    width: 80px;
    height:80px;
    cursor: pointer;
}

#divtesla div {
    display: flex;
    align-items: center;
    height:40px;
}
#divtesla div img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}


#caring{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 60px;
}

.caringtex{
    color: #000;
    justify-content: center;
    padding-inline: 40%;
    
    width: 600px;
    height: 180px;
}
.caringtex h2{
    font-size: 2em;
    margin-inline: 40px;
}
#divcaring{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3 , 200px);
    gap: 50px;
}
#divcaring article{
    display: flex;
    border: 2px solid black;
    box-sizing: border-box;
}

.ar1{
    grid-column: 1/2;
    grid-row: 1/3;
}
.ar2{
    grid-column: 2/3;
    grid-row: 1/3;
}
.ar3{
    grid-column: 3/4;
    grid-row: 1/3;
}

.ar4{
    
    grid-column: 1/2;
    grid-row: 2/4;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background-color: #fff;
    color: #000;
    text-align: center;
}

.ar5{
    grid-column: 2/3;
    grid-row: 2/4;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: 40px;
     background-color: #fff;
    color: #000;
    text-align: center;
}


.ar6{
    grid-column: 3/4;
    grid-row: 2/4;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: 40px;
     background-color: #fff;
    color: #000;
    text-align: center;
}
#divcaring .ar4,.ar5,.ar6{
    display: flex;
    flex-direction: column;
}
#divcaring button{
    display: flex;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: green;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 1em;
}

#divcaring article img{
    width: 100%;
    height: 100%;
}


#demo{
    display: flex;
    flex-direction: column;
    color: #000;
    align-items: center;
}
#demo button{
    display: flex;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    border: none;
    color: rgb(185, 192, 185);
    justify-content: center;
    align-items: center;
    background-color: green;
    font-size: 1em;
}
#demo h1{
    font-size: 5em;
    text-align: center;
    width: 50%;
}


#footer{    
    margin-top:30px ;
    display: flex;
    background-color: #999;
    justify-content: center;
    justify-content: space-around;
   padding: 50px;
}

.listfoo ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}


@media (max-width: 1100px){
    @media(min-width:400px) {
        header{
            height: auto;
            width: auto;
        }
        main{
             height: auto;
            width: auto;
        }
        img{
             height: auto;
            width: auto;
        }
        p h1 b {
             height: auto;
            width: auto;
        }
        div section{
             height: auto;
            width: auto;
        }

    }
}